<p>
        <strong> commenter:</strong>
        <%= comment.commenter %>
        </p>
        <p>
        <strong>comment:<strong>
        <%= comment.body %>
        </p>
        <p><%= link_to 'Edit', action: 'edit' %> |
        <%= link_to 'Destroy Comment', [comment.article, comment],
            method: :delete,
            data: {confirm: 'are you sure?'} %>
        </p>
        <br>