<p>this will be the list of users we have</p>
<% @users.each do |f| %>
    <p>
       bio: <%= f.bio %><br>
        name: <%= f.name %>
        age: <%= f.age %>
    </p>
<% end %>
<br>
<br>
<br>
  
<p>

<%= User.new.howOld %><br>
I am vijendra</p>
