<h2> User Information</h2>
<table>

<tr>
<th> Id</th>
<th>Name</th>
<th>Email</th>
<th>Password</th>
<th></th>
</tr>

<tr>
<td><%= @user.id %></td>
<td><%= @user.name %></td>
<td><%= @user.email %></td>
<td><%= @user.password %></td>
<td></td>
</tr>

</table>
 